<template>
  <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="$emit('input', !value)"></v-toolbar-side-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-toolbar>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name:'layout-toolbar',
    props: {
        value: Boolean
    }
})
</script>