<template>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name:'layout-footer'
})
</script>