<template>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        :rows-per-page-items="row_pages_per_item"
    >
        <template slot="items" slot-scope="props">                        
            <td v-on:click="onEdit(props.item.id)">{{ props.item.date }}</td>
            <td v-on:click="onEdit(props.item.id)">{{ props.item.customerName }}</td>
            <td v-on:click="onEdit(props.item.id)">{{ props.item.customerRUC }}</td>
            <td v-on:click="onEdit(props.item.id)">{{ props.item.customerAddress }}</td>            
        </template>
    </v-data-table>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'orderdetails-table', 
  props: {
    items: Array
  },
  data() {
    var headers = [
      {
        text: 'Fecha',
        align: 'left',
        sortable: true,
        value: 'date'
      },
      {
        text: 'Cliente',
        align: 'left',
        sortable: true,
        value: 'customerName'
      },
      {
        text: 'RUC',
        align: 'left',
        sortable: true,
        value: 'customerRUC'
      },      
    ];

    return {
      row_pages_per_item:[25, 50, { text: "All", value: -1 }],
      products: [],
      headers: headers
    };
  },
  watch: {
    users(newValue) {
      this.innerItems = newValue;
    }
  },
  methods: {
    onEdit(id) {
      this.$emit('edit', id);
    }
  }
});
</script>
