<template>
   <v-container>
        <daily-route-table
            :items="dailyRoutes"         
            @edit="edit"   
        >
        </daily-route-table>  
    </v-container>
</template>
<script lang="ts">
import Vue from 'vue';
import { ServiceFactory, dtos } from 'shared/service';
import { dailyRoutes } from 'src/app/router/dailyRoutes';

export default Vue.extend({
  name: 'daily-route',
  data() {
    return {
      dailyRoutes: []
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    fabLarge() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return false;
        case 'sm':
          return false;
        default:
          return true;
      }
    }
  },
  methods: {
    fetchData() {
      var request = new dtos.GetRouteList();

      var client = ServiceFactory.createClient();
      client.get(request).then(response => {        
        this.dailyRoutes = response;
      });
    },
    onClickNew() {},
    edit(id) {}
  }
});
</script>