<template>
    <v-container fill-height>
    <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Qroma</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>    
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
               <v-text-field
                    label="Username"
                    v-model="user.username"                                        
                    required
                    v-on:keyup="usernameKeyReturn"
                    ></v-text-field>
                <v-text-field 
                    label="Password" 
                    type="password"
                    ref="password" 
                    required
                    v-model="user.password"  
                    v-on:keyup="passwordKeyReturn"
                >
                </v-text-field>
                <v-btn primary @click="login" :loading="loading" :disabled="loading || !valid">
                    Login
                </v-btn>
                <v-alert v-show="showError" error value="true">
                    Usuario y/o contraseña no válido
                </v-alert>
            </v-form>
        </v-card-text>
    </v-card>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { ServiceFactory, dtos } from 'shared/service'

export default Vue.extend({
    data() {
        return {
            user: {
                username: '',
                password: '',
            },
            rules: {
                username: [
                    v => !!v || 'Required'
                ],
                password: [
                    v => !!v || 'Required'
                ],
            },
            loading: false,
            valid: false,
            showError: false,
        }
    },
    methods: {
        login() {
            this.loading = true
            var request = new dtos.Authenticate();
            request.userName = this.user.username
            request.password = this.user.password
            request.provider = 'credentials'
            request.useTokenCookie = true

            var client = ServiceFactory.createClient(false);

            client.post(request)
                .then(response => {                    
                    window.location.replace("/app/main/")
                })
                .catch(error => {                    
                    this.loading = false
                    this.showError = true
                })
        },
        passwordKeyReturn(event) {
            if (event.key == 'Enter' && this.valid && !this.loading) {
                this.login()
            } 
        },
        usernameKeyReturn(event) {
            if (event.key == 'Enter') {
                this.$refs.password.focus()
            }
        }
    }
})
</script>